body
{
   background-color: lightgray;
}

.card
{
   margin-top: 10px;
}

img
{
   margin: 0 auto;
   border-radius: 5px;
}

form
{
   margin-top: 5px;
   background: lightgray;
   border-radius: 1px;
   height: auto;
   width: auto;
}

.title
{
   margin-top: 30px;
   margin-bottom: 10px;
   background-color:lightgray;
   border-radius: 10px;
   font-family: sans-serif;
}

.container
{
   padding: 5px 5px 5px 5px;
   margin-top: 5px;
   border-radius: 2px;
   background-color: darkgray;
   height: 100%;
   width: 100%;
}
